* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body{
   font-family: Calibri, Consolas, sans-serif;
}

pre{
   font-family: Calibri, Consolas, sans-serif;
   font-size: 18px;
}

.link:hover, .link:focus{
   color: blue;
}

.header{
   margin-bottom: 20px;
}
.sitenav .list{
   margin-left: 20px;
   display: flex;
   gap: 20px;
}

.aside{
   padding: 20px;
   flex-shrink: 0;
   /* outline: 1px solid yellow ; */
}

.main{
   display: flex;
}

.dscrn{
   padding-top: 100px;
}